<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2013-2014 @BijdorpStudio
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
    package="com.emartynov.android.app.urlsetter"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

  <uses-sdk
      android:minSdkVersion="9"
      android:targetSdkVersion="19" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:name=".android.UrlApplication"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.UrlSetter">

    <activity
        android:name=".android.ui.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".android.ui.AboutActivity"
        android:label="@string/title_activity_about"
        android:parentActivityName=".android.ui.MainActivity" />

    <activity
        android:name=".android.ui.UrlActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:theme="@android:style/Theme.NoDisplay" />

    <activity-alias
        android:name=".ProcessActivity"
        android:enabled="true"
        android:exported="true"
        android:targetActivity=".android.ui.UrlActivity">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="t.co"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="t.co"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="bit.ly"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="bit.ly"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="goo.gl"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="goo.gl"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="owl.ly"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="owl.ly"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="ow.ly"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="ow.ly"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="lnkd.in"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="lnkd.in"
            android:scheme="https" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="buff.ly"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="buff.ly"
            android:scheme="https" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".ProcessFacebookActivity"
        android:enabled="true"
        android:exported="true"
        android:targetActivity=".android.ui.UrlActivity">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="m.facebook.com"
            android:path="/l.php"
            android:scheme="http" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <action android:name="android.intent.action.VIEW" />

        <data
            android:host="m.facebook.com"
            android:path="/l.php"
            android:scheme="https" />
      </intent-filter>
    </activity-alias>

    <activity-alias
        android:name=".ProcessExtendedLinkActivity"
        android:enabled="true"
        android:exported="true"
        android:targetActivity=".android.ui.UrlActivity">
      <intent-filter android:label="@string/unshort_url">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity-alias>

    <service
        android:name=".android.UrlService"
        android:exported="false" />

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="2c5611b13d7f41bce8b51eb1522de8aee395d2b4" />
    <meta-data
        android:name="com.mixpanel.ApiToken"
        android:value="5c3c45630dcfc6e626870f0b11055643" />
  </application>
</manifest>
